<div class="container__big-card">
    <div class="big-card__photo">
        <img 
            src="https://www.keycdn.com/img/support/full-stack-development.png" 
            alt=""
        >
    </div>

    <div class="big-card__title">
        <h1><a href="#">Filipe está estudando para se tornar fullstack!</a></h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="">
            Após conseguir sua matrícula no curso fullstak Java + Angular do becas santander, estou buscando expandir meus conhecimentos em todas áreas possíveis para saber onde consigo me identificar melhor.
            </a>
        </p>
    </div>
</div>
